---
import Head from "../components/Head.astro";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Head />
	</head>

	<body class="h-screen bg-gradient-to-br from-purple-700 via-pink-500 to-purple-600">
		<slot />
	</body>
</html>
